{
  "bots": [
    {
      "token":  "",
      "icon": ":green_circle:",
      "color": "#00ff00",
      "main": true
    },
    {
      "token":  "",
      "icon": ":red_circle:",
      "color": "#ff0000"
    },
    {
      "token":  "",
      "icon": ":blue_circle:",
      "color": "#0000ff"
    }
  ],
  "commands" : {
    "skip" : ["skip", "next", "suivant"],
    "stop" : ["stop", "arrêter", "fin", "end"],
    "loop" : ["loop", "boucle", "répéter"],
    "pause" : ["pause"],
    "resume" : ["resume", "reprendre"]
  }
}